* {
    margin:0; padding:0;
}
#navigation {
    display: none;
    height:48px;
    background: silver;
}
.ribbon{
    width:135px;
    height:36px;
    float:left;
    cursor: pointer;
}
#container {
    width:945px;
    margin: 0 auto;
}
#red {
    background: url("../images/red.jpg") 0 100% repeat-x #FF8877;
}
#orange {
    background: url("../images/orange.jpg") 0 100% repeat-x #FFBB99;
}
#yellow {
    background: url("../images/yellow.jpg") 0 100% repeat-x #FFEECC;
}
#green {
    background: url("../images/green.jpg") 0 100% repeat-x #BBEEBB;
}
#blue {
    background: url("../images/blue.jpg") 0 100% repeat-x #ADC3DB;
}
#indigo {
    background: url("../images/indigo.jpg") 0 100% repeat-x #AAAACC;
}
#violet {
    background: url("../images/violet.jpg") 0 100% repeat-x #BB99BB;
}
.ribons {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.ribons li{
	display: block;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
}
.ribons li.active{
    z-index: 10;
    cursor: auto;
}
div.c1 {
    background: url("../images/left-shadow.png") 100% 100% repeat-y; 
    height: inherit
}
